body, html {
    height: 100%;
    background-color: #fff;
} 
.hero-image {
    background-image: url(../images/training1.jpg);
    height: 70%;
    color: azure;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width:100%;
    height: 550px;
    margin-top:6%;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}
h1 {
  position: absolute;
  background: rgba(3, 64, 73, 0.75);
  padding: 9px 10px;
  color: white;
  margin: 0;
  font: 14px Sans-Serif;
}
.navbar {
    margin-bottom: 0;
    padding: 10px;
    background-color: #fff !important;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    height: 90px;
}
  .navbar-brand {
    color: #fff !important;
    margin-top: 0 !important;
    padding: 0 !important;
}
.navbar li a, .navbar {
    color: #0c606d !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: azure !important;
    background-color: #0c606d !important;
    margin-top: 0;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
    color: #fff !important;
}


.post {
  margin-bottom: 30px;
}


footer {
      background-color: #033e47;
      color: #94d4dd;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #94d4dd;
  }
  
  .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }
  
/* Style the tab */
div.tab {
    overflow: hidden;
    border: none;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}