@import url(https://fonts.googleapis.com/css?family=Martel+Sans:200,300,400,800,900);


body, html {
    height: 100%;
    background-color: #fff;
} 
.hero-image {
    background-image: url(../images/index1.jpg);
    height: 70%;
    color: azure;
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width:100%;
    height: 550px;
    margin-top:6%;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}
h1 {
  position: absolute;
  background: rgba(3, 64, 73, 0.75);
  padding: 9px 10px;
  color: white;
  margin: 0;
  font: 14px Sans-Serif;
}
.navbar {
    margin-bottom: 0;
    padding: 10px;
    background-color: #fff !important;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    height: 90px;
}
.navbar-brand {
    color: #fff !important;
    margin-top: 0 !important;
    padding: 0 !important;
}
.navbar li a, .navbar {
    color: #0c606d !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: azure !important;
    background-color: #0c606d !important;
    margin-top: 0;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
    color: #fff !important;
}



section {
  height: 350px;
  width: 100%;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto 0px;
  
}
section a {
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-size: 4.875em;
  font-weight: 900;
  color: #fff;
  
}
section a:after, section a:before {
  content: '';
}
section.head {
  background-color: #fff;
  position: relative;
  z-index: 10;
}
section.head a {
  width: 652px;
  height: 78px;
  line-height: 78px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -326px;
  margin-top: -39px;
  font-weight: 200;
  color: #BABABA;
  -webkit-transition: all 2s cubic-bezier(0.21, 1, 0.84, 1.01);
  -moz-transition: all 2s cubic-bezier(0.21, 1, 0.84, 1.01);
  transition: all 2s cubic-bezier(0.21, 1, 0.84, 1.01);
  
}
section.head a:before, section.head a:after {
  color: #045562;
  font-weight: 900;
  font-size: 30px;
  text-transform: none;
  display: block;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  transition: inherit;
}
section.head a:before {
  content: attr(data-bf);
  position: absolute;
  top: -45px;
  left: -5px;
}
section.head a:after {
  content: attr(data-af);
  position: absolute;
  right: 0;
  bottom: -30px;
}
section.head a:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
section.head a:hover:before {
  -webkit-transform: scale(1.2) translate(-25px, -15px);
  -moz-transform: scale(1.2) translate(-25px, -15px);
  -ms-transform: scale(1.2) translate(-25px, -15px);
  -o-transform: scale(1.2) translate(-25px, -15px);
  transform: scale(1.2) translate(-25px, -15px);
}
section.head a:hover:after {
  -webkit-transform: scale(1.2) translate(25px, 15px);
  -moz-transform: scale(1.2) translate(25px, 15px);
  -ms-transform: scale(1.2) translate(25px, 15px);
  -o-transform: scale(1.2) translate(25px, 15px);
  transform: scale(1.2) translate(25px, 15px);
}


.post {
  margin-bottom: 30px;
}
a.thumbnail:hover, 
a.thumbnail:focus {
  border: 1px solid black;
}
@media (max-width: 768px) {
  .thumbnail {
    border: none;
  }
  a.thumbnail:hover, 
  a.thumbnail:focus{
    border: none;
  }
}


footer {
      background-color: #033e47;
      color: #94d4dd;
      padding-left: 4%;
      padding-right: 4%;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #94d4dd;
}
  
.fa {
padding: 20px;
font-size: 30px;
width: 30px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }